#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.lo
*.ko
*.so
*.so.[0-9]*
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.patch
*.gcno
CVS

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#
examples/check_events
examples/showevtinfo
perf_examples/branch_smpl
perf_examples/evt2raw
perf_examples/notify_group
perf_examples/notify_self
perf_examples/self
perf_examples/self_basic
perf_examples/self_count
perf_examples/self_pipe
perf_examples/self_smpl_multi
perf_examples/syst
perf_examples/syst_count
perf_examples/syst_smpl
perf_examples/task
perf_examples/task_attach_timeout
perf_examples/task_cpu
perf_examples/task_smpl
perf_examples/x86/bts_smpl
tests/validate
